/* resets */

body, section, div, h1, h2 {
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body, button, input {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
  font-style: oblique;
}


.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

/* left col */

.left-col {
  margin-left: 5%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-col button {
  margin-top: 15px;
}

/* mid col */

.mid-col {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#image-upload {
  margin-left: 30%;
}

/* right col */

.right-col {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.title, .subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.right-col input {
  margin-top: 15px;
}

.right-col button {
  margin-top: 15px;
}

/* canvas */

#canvas-image {
  border: 1px solid black;
  padding: 1px;
  margin: 10px;
}


#reset-btn {
  margin-left: 0px;
}


/* sliders */

input[type='range'] {
    -webkit-appearance: none !important;
    background: lightgray;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: darkblue;
    height:10px;
    width:10px;
}
